* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.play-ground {
  display: flex;
  width: 500px;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  background-color: bisque;
}

.play-row {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play-row.attempted {
  border: 2px solid yellow;
}

.play-row.attempted {
  border: 1px solid red;
}
.play-row.wrong {
  animation: wrong 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) alternate;
}

@keyframes wrong {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  75% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}

.play-row.correct {
  animation: correct 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) alternate;
}

@keyframes correct {
  to {
    transform: scale(1.1);
  }
}

.play-input-div {
  width: 19%;
  height: 95%;
  font-size: 4rem;
  font-family: system-ui, sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(94, 90, 90, 0.67);
  background-color: aliceblue;
}

.play-input-div.yellow {
  background-color: yellowgreen;
}

.play-input-div.green {
  background-color: green;
}

.play-input-div.grey {
  background-color: grey;
}
